# Building a Neural Network Model with Keras

## Part A - Build a baseline model

In [1]:
# import packages
import pandas as pd
import numpy as np

In [2]:
# read the dataset
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
# check dataset shape
concrete_data.shape

(1030, 9)

In [4]:
# check for null values
concrete_data.isnull().sum()
# no null values -- data is clean

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [5]:
# split data into predictors and target
concrete_data_columns = concrete_data.columns
# all others except "Strength"
predictors = concrete_data[concrete_data_columns[concrete_data_columns !='Strength']]
target = concrete_data['Strength']
n_col = predictors.shape[1]

In [6]:
# checking
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [7]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [8]:
# import keras
import keras
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.

In [9]:
# build a neural network regression model
# define a function 
def regression_model():
    # create the model
    model = Sequential()
    model.add(Dense(10,activation = 'relu',input_shape = (n_col,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer = 'adam', loss = 'mean_squared_error')
    return model

In [12]:
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

In [103]:
# split data into train and test, repeat for 50 times
mse_list = []
for times in range(50):
    x_train,x_test,y_train,y_test = train_test_split(predictors,target,test_size = 0.3)
    
    # call model
    model = regression_model()
    
    # fit model
    model.fit(x_train, y_train, epochs=50,verbose = 0)
    
    # predict & evaluate model
    pred = model.predict(x_test)
    
    mse_list.append(mean_squared_error(y_test,pred))

In [104]:
mean_ = np.array(mse_list).mean()
std_ = np.array(mse_list).std()
print(f'mean is {mean_} and Standard Deviation is {std_}')

mean is 451.07898734356235 and Standard Deviation is 645.3557440405516

## Part B - Model with Normalized Data

In [14]:
# normalize the data - subtract the mean and then divide by sd
predictors_norm = (predictors - predictors.mean())/predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [15]:
# save number of predictors
n_col = predictors_norm.shape[1]

In [108]:
mse_list = []
for times in range(50):
    x_train,x_test,y_train,y_test = train_test_split(predictors_norm,target,test_size = 0.3)
    model = regression_model()
    model.fit(x_train, y_train, epochs=50,verbose = 0)
    pred = model.predict(x_test)
    mse_list.append(mean_squared_error(y_test,pred))

In [109]:
mean_ = np.array(mse_list).mean()
std_ = np.array(mse_list).std()
print(f'mean is {mean_} and Standard Deviation is {std_}')

mean is 360.61623071835146 and Standard Deviation is 88.59045266054027

In [ ]:
# model using normalized data has better performance, mean is smaller than step A

## Part C - Increase the number of epochs

In [ ]:
mse_list = []
for times in range(50):
    x_train,x_test,y_train,y_test = train_test_split(predictors_norm,target,test_size = 0.3)
    model = regression_model()
    model.fit(x_train, y_train, epochs=100,verbose = 0)
    pred = model.predict(x_test)
    mse_list.append(mean_squared_error(y_test,pred))

In [111]:
mean_ = np.array(mse_list).mean()
std_ = np.array(mse_list).std()
print(f'mean is {mean_} and Standard Deviation is {std_}')

mean is 167.02121681334128 and Standard Deviation is 15.353853209772987

In [112]:
# this has improved performance further, mean is smaller than step B

## Part D - Increase the number of hidden layers

In [113]:
# build a neural network regression model with 3 hidden layers
# define a function 
def regression_model():
    # create the model
    model = Sequential()
    model.add(Dense(10,activation = 'relu',input_shape = (n_col,)))
    model.add(Dense(10,activation = 'relu'))
    model.add(Dense(10,activation = 'relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer = 'adam', loss = 'mean_squared_error')
    return model
              
# call the function
model = regression_model()

In [114]:
mse_list = []
for times in range(50):
    x_train,x_test,y_train,y_test = train_test_split(predictors_norm,target,test_size = 0.3)
    model = regression_model()
    model.fit(x_train, y_train, epochs=100,verbose = 0)
    pred = model.predict(x_test)
    mse_list.append(mean_squared_error(y_test,pred))

In [115]:
mean_ = np.array(mse_list).mean()
std_ = np.array(mse_list).std()
print(f'mean is {mean_} and Standard Deviation is {std_}')

mean is 79.45683228455572 and Standard Deviation is 22.131855200514867

In [ ]:
# this has improved performance further, mean is smaller than step B